div.print {
  display: none;
}

@media print {
  header,
  footer,
  div.main {
    display: none;
  }

  div.print {
    display: block;
  }

  h1 {
    text-align: right;
    font-size: 10px;
  }
}
