* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Comfortaa", cursive;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.left-work img {
  max-height: 85px;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f4cbcf;
}

.logo {
  width: 75px;
  height: 100%;
}

.menu {
  color: white;
  border-bottom: none;
  display: flex;
  text-align: right;
  flex-basis: 100%;
  flex-grow: 0;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.menu ul {
  padding-top: 15px;
}

.menu-item {
  display: inline-block;
}

.menu-item a {
  color: black;
  margin: 20px 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.intro {
  color: rgb(3, 3, 3);
  background-image: url("img/background5.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
  position: relative;
  height: 350px;
  text-align: center;
}

.intro p {
  color: black;
}

ul li {
  line-height: 30px;
}

h1 {
  font-size: 30px;
  margin: 36px 0 24px 0;
  font-weight: 700;
}

h2 {
  margin: 36px 0 24px 0;
  font-weight: 700;
}

h3 {
  margin: 36px 0 24px 0;
  font-weight: 700;
}

p {
  color: #757575;
}

.about-intro .container-inner,
.work .container-inner,
.contacts .container-inner {
  display: flex;
  margin: auto;
}

.about-intro .container-inner div,
.work .container-inner div,
.contacts .container-inner div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 15px;
  justify-content: center;
}

.about-intro .right-about-intro {
  margin-left: 150px;
}

div.container li {
  color: #757575;
}

.main-work {
  position: relative;
}

.main-work:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: -100px;
  right: 0;
  left: 0;
  background: linear-gradient(-180deg, #f7ebf1, #9d7085);
  transform: skewY(-3deg);
  transform-origin: 100%;
}

.main-work .card {
  margin-top: 40px;
  border: none;
  border-radius: 1.25rem;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  height: 350px;
  cursor: pointer;
  color: #000;
}

div .card.left-top {
  background-image: url("img/kidshopby.jpg");
  background-position: center;
  background-size: cover;
}

div .card.left-medium {
  background-image: url("img/spurr-home.jpg");
  background-position: center;
  background-size: cover;
}

div .card.left-bottom {
  background-image: url("img/create.jpg");
  background-position: center;
  background-size: cover;
}

div .card.right-top {
  background-image: url("img/github.jpg");
  background-position: center;
  background-size: cover;
}

div .card.right-bottom {
  background-image: url("img/sports-media-agency-home.jpg");
  background-position: center;
  background-size: cover;
}

div.card-body {
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0.9;
  background: white;
  margin: 0px;
}

.card-body h2 {
  margin: 0px;
}

.work {
  margin-top: 160px;
}

hr {
  height: 1px;
  margin: 30px 0;
  border: none;
  background-color: #dadada;
  width: 100%;
}

.left-contacts a {
  color: #ea4c89;
  text-decoration: none;
}
.left-contacts a:hover {
  text-decoration: underline;
}

.right-contacts a.btn-github {
  color: #000;
  text-decoration: none;
}

a.btn-github:hover {
  text-decoration: underline;
}

footer {
  background-color: #1f1f1f;
  margin-top: 10px;
  color: #fff;
}

.footer {
  display: flex;
  flex-shrink: 0;
  padding: 15px 0;
}

div.copyright {
  font-size: 12px;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  justify-content: flex-end;
}
